@font-face {
    font-family: sf_pro_regular;
    src: url("../font/SFPRODISPLAYREGULAR.woff2") format("woff2");
}

@font-face {
    font-family: sf_pro_medium;
    src: url("../font/SFPRODISPLAYMEDIUM.woff2") format("woff2");
}

@font-face {
    font-family: sf_pro_bold;
    src: url("../font/SFPRODISPLAYBOLD.woff2") format("woff2");
}

:root {
    --primary-pink: #EB568E;
    --primary-blue: #144EE3;
    --black: #0B101B;
    --gray: #181E29;
    --lite: #C9CED6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    background-image: url(../images/background.svg);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #00000000;
    border-bottom: 1px solid #ffffff2d;
    backdrop-filter: blur(6px);
    top: 0px;
    position: sticky;
    width: 99%;
    z-index: 500;
}

nav>h1 {
    font-family: sf_pro_bold;
    color: white;
    font-size: 35px;
    background: linear-gradient(90deg, var(--primary-pink), var(--primary-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav>h1>svg {
    width: 30px;
}

nav>div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#login {
    font-family: sf_pro_regular;
    color: white;
    border-radius: 50px;
    padding: 7px 15px;
    background-color: #bababa58;
    border: 1.5px solid #ffffff30;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    cursor: pointer;
}

#register {
    font-family: sf_pro_regular;
    color: white;
    background-color: var(--primary-blue);
    border-radius: 50px;
    padding: 7px 20px;
    border: 1.5px solid var(--primary-blue);
    font-size: 20px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}
#logout {
    font-family: sf_pro_regular;
    color: white;
    background-color: var(--primary-blue);
    border-radius: 50px;
    padding: 7px 20px;
    border: 1.5px solid var(--primary-blue);
    font-size: 20px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logout-svg {
    width: 25px;
}

#register:hover {
    box-shadow: 0 0 15px var(--primary-blue);
}
#logout:hover {
    box-shadow: 0 0 15px var(--primary-blue);
}

main {
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    flex: 1;
}

#username{
    color: var(--lite);
    font-family: sf_pro_regular;
    margin-top: 50px;
}

#heading {
    color: white;
    font-family: sf_pro_bold;
    font-size: 60px;
    margin-top: 5px;
    background: radial-gradient(circle, var(--primary-pink), var(--primary-pink), var(--primary-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

#para {
    text-align: center;
    color: #dcdcdc;
    font-family: sf_pro_regular;
    /* margin-top: 10px; */
}

#inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 100px;
    border: 3px solid #bfd1ff99;
    padding: 6px 6px 6px 15px;
    background-color: #00000033;
    backdrop-filter: blur(1px);
}

#inputs>img {
    width: 20px;
}

#form-input {
    font-family: sf_pro_regular;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    width: 300px;
}

#form-input::placeholder {
    color: #dadada;
}

#submit {
    color: white;
    background-color: var(--primary-blue);
    border: none;
    padding: 10px;
    border-radius: 50px;
    font-family: sf_pro_regular;
    font-size: 20px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

#submit:hover {
    box-shadow: 0 0 15px var(--primary-blue);
}

#another-para {
    color: #e2e2e2;
    text-align: center;
    font-family: sf_pro_regular;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#total-shorted-links {
    color: #EB568E;
}

#another-para>img {
    width: 20px;
}

/*------------------------------------------------TABLE------------------------------------------*/
table {
    table-layout: fixed;
    width: 75rem;
}

thead {
    background-color: #144EE3;
}

table,
th,
td {
    padding: 1rem;
}

th,
td {
    text-align: center;
    overflow: hidden;
    color: var(--lite);
    font-family: sf_pro_regular;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}

#copy {
    width: 2rem;
}

#copy>img,
#delete>img {
    cursor: pointer;
}

#clicks {
    width: 2rem;
}

#date {
    width: 4rem;
}

#delete {
    width: 2.5rem;
}

#shortlink {
    width: 7rem;
    text-overflow: ellipsis;
}

#shortlink>a,
#original-link>a {
    color: var(--lite);
    text-decoration: none;
}

#original-link {
    width: 10rem;
    /* text-overflow: ellipsis; */
    word-wrap: break-word;
}

tbody>:nth-child(even) {
    background-color: #003cff21;
    backdrop-filter: blur(1px);
}

tbody>tr>td:last-child:hover {
    background-color: #86000048;
}
tbody>tr>td:nth-child(2):hover {
    background-color: #144fe3;
}